[인물]
이름: {{ name }}
나이: {{ age }}
역할: {{ role }}
지금 하는 일: {{ action_label }}

[성격]
{{ h_desc }}
{{ e_desc }}
{{ x_desc }}
{{ a_desc }}
{{ c_desc }}
{{ o_desc }}

[지금 마음]
{{ emotion_context }}

[채워지지 않은 바람]
{{ need_context }}

[고를 수 있는 움직임]
{% for option in action_options %}
- {{ option.id }}: {{ option.label }}
{% endfor %}

[지시]
지금 가장 그럴듯한 움직임 하나를 골라라.
반드시 JSON 하나만 내놓고, reasoning_hint는 짧은 한국말 구절 하나만 써라.
